h1{
    color:peachpuff;
    text-decoration:underline;
    font-weight: 40px;
    
    margin:20px;
    border-color:black;
    
    display:block;
}
.info p{
    font-size: 30px;
    color: #cbc3e3;;
    text-decoration: none;
    padding:2px;
    margin-left: 2px;
    text-align: left;
    
}
p{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    color:peachpuff;
    border-width: 3px;
    border-color: black;
    display:block;
    text-align: center;
    text-decoration: underline;
    
}
.register label{
    color:white;
    background-color:transparent;
    font-size: 30px;
    border-color: black;
    border-radius: none;
    text-align: center;
}
.register input{
    padding: 4px;
    margin:4px;
    border-color: black;
    border-width: 5px;
    border-radius: 5px;
    background-color:transparent;
    color:white;
    font-size: 15px;
    font-weight: bold;
}
.register textarea{
    background-color:transparent;
    
    border-width: 5px;
    border-radius: none;
    color:red;
    font-size: 15px;
    font-weight: bold;
}
.register p{
    color:yellow;
    text-align: left;
    font-size: 30px;
    display: inline-block;
}
body{
    background-image: url(IMG-20240226-WA0021.jpg);
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.register input[type="submit"]{
    width:100px;
    height:40px;
}
::placeholder{
    font-size:15px;
    color:white;
    font-weight: bold;
}
@media screen and (max-width:375px;) {
    .info p{
        font-size: 10px;
        color:white;
        text-decoration: none;
        text-align: left;
    }
    p{
        font-size: 10px;
        font-family: Georgia, 'Times New Roman', Times, serif ;
        color:peachpuff;
        border-width: 3px;
        border-color: black;
        display:block;
        text-align: center;
        font-weight: bold;
    }
    body{
        background-image: url(IMG-20240226-WA0021.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
       
    
    }
}
